* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-container {
    background: #222;
    color: #fff;
    border-radius: 8px;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    min-height: 352px;
}

.close-button {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-button:hover {
    color: #ff5e57;
}

.modal-header h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.options {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
}

.dropdown-container {
    position: relative;
    display: inline-block;
    width: 200px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
}

.selected-language {
    /*display: flex;*/
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    color: black;
}

.flag-icon {
    width: 20px;
    height: 15px;
    object-fit: cover;
}

.dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 150px;
    overflow-y: auto;
}

.dropdown-list li {
    padding: 8px 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 14px;
    color: #333;
}

.dropdown-list li:hover {
    background: #f0f0f0;
}

.add-printer-btn {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.add-printer-btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.add-printer-btn:disabled {
    background-color: #cccccc;
    color: #888888;
    cursor: not-allowed;
    transform: none;
    box-shadow: none;
}

.add-printer-btn:disabled:hover {
    background-color: #cccccc;
    /* Evitar que cambie el color al pasar el mouse */
}

@media (max-width: 768px) {
    .options {
        flex-direction: column;
        gap: 10px;
    }

    .dropdown-container {
        width: 100%;
    }

    .add-printer-btn {
        width: 100%;
    }
}